# Structured Query Language

SQL, or Structured Query Language, is a programming language used to manage and manipulate data in relational databases. SQL is used to create, modify and query databases, and is widely used in data analysis, data science and software development.

SQL has a few basic components:

- `Keywords`: These are reserved words used in SQL statements, like SELECT, INSERT, and WHERE.
- `Clauses`: These are the building blocks of SQL statements. Clauses like SELECT, FROM, WHERE, and ORDER BY are used to construct SQL queries.
- `Expressions`: These are the parts of a SQL statement that return results. Examples include column names and mathematical expressions.
- `Operators`: These are symbols used to compare values or perform mathematical operations. Examples include =, <, >, +, and -.

Here is an example of a basic SQL query:

In [ ]:
SELECT * FROM employees WHERE salary > 50000;

This query selects all columns from the "employees" table where the "salary" column is greater than 50,000.

## SQL Data Types

SQL supports a wide range of data types for storing data in tables, including:

- Integers: INT, SMALLINT, BIGINT
- Floating-point numbers: FLOAT, DOUBLE
- Strings: CHAR, VARCHAR
- Dates and times: DATE, TIME, DATETIME

Here is an example of creating a table with different data types:

In [ ]:
CREATE TABLE customers (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    age INT,
    email VARCHAR(50),
    phone VARCHAR(20),
    signup_date DATE
);

This creates a "customers" table with columns for ID, name, age, email, phone, and signup date, each with its own data type.

## SQL Operators

SQL supports a wide range of operators for comparing values or performing mathematical operations. These include:

- Comparison operators: =, <, >, <=, >=, <>
- Arithmetic operators: +, -, *, /, %
- Logical operators: AND, OR, NOT

Here is an example of a query using comparison and logical operators:

In [ ]:
SELECT * FROM employees WHERE department = 'sales' AND salary > 50000;

This selects all employees in the "sales" department with a salary greater than 50,000.

## Creating Databases

Creating a database in SQL is simple:

In [ ]:
CREATE DATABASE mydatabase;

This creates a new database named "mydatabase".

## Creating Tables

Creating a table in SQL involves defining the table's columns and data types:

In [ ]:
CREATE TABLE customers (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    age INT,
    email VARCHAR(50),
    phone VARCHAR(20),
    signup_date DATE
);

This creates a "customers" table with columns for ID, name, age, email, phone, and signup date.

## Altering Tables

Tables can be altered in SQL to add or remove columns, change column data types, or modify constraints:

In [ ]:
ALTER TABLE customers ADD COLUMN address VARCHAR(100);

This adds an "address" column to the "customers" table.

## Dropping Tables

To remove a table in SQL:

In [ ]:
DROP TABLE customers;

This drops the "customers" table.

## Adding Constraints

Constraints are rules that enforce data integrity and consistency. They can be added to tables using the following syntax:

In [ ]:
CREATE TABLE orders (
    id INT PRIMARY KEY,
    customer_id INT,
    order_date DATE,
    total DECIMAL(10, 2),
    FOREIGN KEY (customer_id) REFERENCES customers(id)
);

## Selecting Data

Selecting data is the process of retrieving data from one or more tables in a database. In SQL, you can use the SELECT statement to retrieve data. Here is an example:

In [ ]:
SELECT column1, column2, ... 
FROM table_name;

## Filtering Data

Filtering data is the process of selecting only the data that meets certain conditions. In SQL, you can use the WHERE clause to filter data. Here is an example:

In [ ]:
SELECT column1, column2, ... 
FROM table_name
WHERE condition;

## Sorting Data

Sorting data is the process of arranging data in a particular order. In SQL, you can use the ORDER BY clause to sort data. Here is an example:

In [ ]:
SELECT column1, column2, ... 
FROM table_name
ORDER BY column1 ASC|DESC;

## Joining Tables

Joining tables is the process of combining data from two or more tables into a single result set. In SQL, you can use the JOIN clause to join tables. Here is an example:

In [ ]:
SELECT column1, column2, ... 
FROM table1
JOIN table2
ON table1.column_name = table2.column_name;

## Grouping Data

Grouping data is the process of aggregating data by one or more columns. In SQL, you can use the GROUP BY clause to group data. Here is an example:

In [ ]:
SELECT column1, COUNT(column2) 
FROM table_name
GROUP BY column1;

## Aggregate Functions

Aggregate functions are functions that perform calculations on a set of values and return a single value. In SQL, you can use aggregate functions such as SUM, AVG, MIN, MAX, and COUNT. Here is an example:

In [ ]:
SELECT SUM(column_name) 
FROM table_name;

## Inserting Data

Inserting data is the process of adding new data to a table in a database. In SQL, you can use the INSERT INTO statement to insert data. Here is an example:

In [ ]:
INSERT INTO table_name (column1, column2, ...)
VALUES (value1, value2, ...);

## Updating Data

Updating data is the process of modifying existing data in a table in a database. In SQL, you can use the UPDATE statement to update data. Here is an example:

In [ ]:
UPDATE table_name
SET column1 = value1, column2 = value2, ...
WHERE condition;

## Deleting Data

Deleting data is the process of removing data from a table in a database. In SQL, you can use the DELETE FROM statement to delete data. Here is an example:

In [ ]:
DELETE FROM table_name
WHERE condition;

## Subqueries

A subquery is a query that is nested inside another query. In SQL, you can use subqueries to retrieve data from one or more tables. Here is an example:

In [ ]:
SELECT column1, column2, ...
FROM table_name
WHERE column1 IN (SELECT column1 FROM table_name2 WHERE condition);

## Common Table Expressions (CTEs)

A common table expression (CTE) is a temporary result set that is defined within the execution of a single SQL statement. In SQL, you can use CTEs to simplify complex queries. Here is an example:

In [ ]:
WITH cte_name AS (
   SELECT column1, column2, ...
   FROM table_name
)
SELECT *
FROM cte_name
WHERE condition;

## Window Functions:

Window functions in SQL allow you to perform calculations across rows and return the results alongside each row. They are used to perform complex analysis tasks and are particularly useful in reporting and analytics. Here's an example of a window function in SQL:

In [ ]:
SELECT order_id, customer_name, order_date, order_total,
       SUM(order_total) OVER (PARTITION BY customer_name ORDER BY order_date) AS running_total
FROM orders;

## Stored Procedures:

Stored procedures are SQL code that is stored in the database and can be executed with a single command. They can be used to encapsulate business logic and to improve performance by reducing the amount of data sent over the network. Here's an example of a stored procedure in SQL:

In [ ]:
CREATE PROCEDURE get_order_total (@order_id INT)
AS
BEGIN
   SELECT order_total FROM orders WHERE order_id = @order_id
END;

## Transactions:
Transactions in SQL are used to group a set of database operations together into a single unit of work. They allow you to ensure that all of the operations complete successfully or none of them are executed at all. This is useful when you need to maintain data consistency and prevent data corruption. Here's an example of a transaction in SQL:

In [ ]:
BEGIN TRANSACTION;
UPDATE accounts SET balance = balance - 100 WHERE account_id = 123;
UPDATE accounts SET balance = balance + 100 WHERE account_id = 456;
COMMIT;

In this example, the transaction updates the balance of two accounts. If either of the updates fail, the entire transaction is rolled back and the database is returned to its original state.