# Pandas

Pandas is an open-source data analysis and manipulation library for Python. It provides easy-to-use data structures and data analysis tools to work with structured data seamlessly. The two primary data structures provided by Pandas are:

- `Series`: A one-dimensional array-like object that can hold any data type such as integers, strings, floating-point numbers, and Python objects.
- `DataFrame`: A two-dimensional table-like data structure that consists of rows and columns. It can be thought of as a spreadsheet or SQL table.

In addition to these data structures, Pandas also provides various tools for data manipulation, such as merging, grouping, and reshaping data.

## Installing Pandas

Before we get started, let's first make sure that Pandas is installed. You can install Pandas using `pip` by running the command `pip3 install pandas` in your terminal. You can also install it directly here using:

In [1]:
# !pip3 install pandas

## Creating DataFrame

To create a DataFrame, you can use the `pd.DataFrame()` function and pass in your data as a Python dictionary or a list of lists.

In [2]:
import pandas as pd

# create a DataFrame from a dictionary
data = {'name': ['Alice', 'Bob', 'Charlie'], 'age': [25, 30, 35]}
df = pd.DataFrame(data)
print(type(df))

# create a DataFrame from a list of lists
data = [['Alice', 25], ['Bob', 30], ['Charlie', 35]]
df = pd.DataFrame(data, columns=['name', 'age'])
print(type(df))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

## Accessing Data

You can access data in a DataFrame using various methods. Here are some common ones:

### Indexing

- `df[col_name]`: Access a single column by column name. Return-Type: Series.
- `df[[col1, col2, ...]]`: Access multiple columns by column name. Return-Type: DataFrame.

In [3]:
print(f"Accessing a single column:\n {df['name']} \n")
print(f"Accessing a multiple columns:\n {df[['name', 'age']]} \n")

Accessing a single column:
 0      Alice
1        Bob
2    Charlie
Name: name, dtype: object

Accessing a multiple columns:
       name  age
0    Alice   25
1      Bob   30
2  Charlie   35

### Condition based Filtering

- `df[condition]`: Filter data based on the given condition

In [4]:
print("Age greater than 30:\n", df[df['age'] > 30], "\n")
print("Name included within the given list:\n", df[df['name'].isin(['Bob', 'Marlie'])], "\n")
print("Name starting with A and age above 25:\n", df[df['name'].str.startswith('A') & (df['age'] > 25)])

Age greater than 30:
       name  age
2  Charlie   35

Name included within the given list:
   name  age
1  Bob   30

Name starting with A and age above 25:
 Empty DataFrame
Columns: [name, age]
Index: []

### Methods
 In Pandas, there are three main indexing methods to access data in a DataFrame: `loc`, `iloc`, and `at`.
 
- `df.loc[]`: Access data in a DataFrame using labels. It takes two parameters, the row label(s) and column label(s), and returns a subset of the original DataFrame. 
- `df.iloc[]`: Access data in a DataFrame using integer-based indexing. It takes two parameters, the row index(es) and column index(es), and returns a subset of the original DataFrame.
- `df.at[]`: Access a single cell in a DataFrame using labels. It is similar to `df.loc`, but is optimized for accessing a single cell.

In [5]:
print(f"Accessing a single cell by label: {df.loc[0, 'name']}")
print(f"Accessing multiple rows and columns by label:\n {df.loc[1:3, ['name', 'age']]} \n")

print(f"Accessing a single cell by index: {df.iloc[0, 0]}")
print(f"Accessing multiple rows and columns by index:\n {df.iloc[1:3, [0, 1]]} \n")

print(f"Accessing a single cell by label: {df.at[0, 'name']}")

Accessing a single cell by label: Alice
Accessing multiple rows and columns by label:
       name  age
1      Bob   30
2  Charlie   35

Accessing a single cell by index: Alice
Accessing multiple rows and columns by index:
       name  age
1      Bob   30
2  Charlie   35

Accessing a single cell by label: Alice

## Reading Data

Pandas can read data from a variety of sources, including CSV files, Excel spreadsheets, SQL databases, and more. Here are some common ways to read data using Pandas:

- `pd.read_csv(file_path, delimiter=',')`: Reads CSV (Comma Separated Value) file and returns a Pandas DataFrame
    - *file_path*: Path to csv file
    - *delimiter*: Symbol separating different columns (default=',')
- `pd.read_excel(file_path, sheet_name=0)`: Reads excel file and returns a Pandas DataFrame
    - *file_path*: Path to excel file
    - *sheet_name*: Name or Index of List of excel sheet(s) to use (default=0)
- `pd.read_sql(query, conn)`: Read data from SQL databases. To do this, you first need to establish a connection to the database using a database driver such as `sqlite3` or `pymysql`.
    - *query*: SQL query
    - *conn*: Connection to SQL database
    
```python
import sqlite3

conn = sqlite3.connect('database.db')
query = 'SELECT * FROM my_table'
df = pd.read_sql(query, conn)
```

In [6]:
import pandas as pd

data_path = './../data/HR-Analytics.csv'
data = pd.read_csv(data_path)

## Writing Data

Similar to reading data from files, pandas provides several methods to write data to various file formats such as CSV, Excel, JSON, SQL, and more.

- `pd.to_csv(file_path, index)`: Writes Pandas DataFrame to csv file
    - *file_path*: Expected path to write csv file
    - *index*: If you want to add an extra column with row-wise indexing? (default=True)
- `pd.to_excel(file_path, index)`: Writes Pandas DataFrame to excel file
- `df.to_sql(table_name, conn, if_exists, index)`:
    - *table_name*: Database table name to write data into
    - *conn*: Connection to SQL database
    - *if_exists*: What if the table already exists? Options: {'fail', 'replace', 'append'} (default='fail')


```python
import sqlite3

conn = sqlite3.connect('my_database.db')
df.to_sql('my_table', conn, if_exists='replace', index=False)
conn.close()
```

In [7]:
import pandas as pd

data = pd.DataFrame({'name': ['Alice', 'Bob'], 'age': [25, 30]})
data.to_csv('./../data/data.csv', index=False) # index=False to not write index

## Exploring Data

- `df.head()`: Returns the first few rows (default=5) of the DataFrame
- `df.tail()`: Returns the last few rows (default=5) of the DataFrame
- `df.info()`: Returns information about the DataFrame
- `df.describe()`: Returns descriptive statistics for the numerical columns in the DataFrame
- `df.shape`: Returns shape of the DataFrame
- `df.isnull()`: Check for missing values

In [8]:
print(df.head(2))

    name  age
0  Alice   25
1    Bob   30

In [9]:
print(df.tail(2))

      name  age
1      Bob   30
2  Charlie   35

In [10]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3 non-null      object
 1   age     3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 176.0+ bytes
None

In [11]:
print(df.describe())

        age
count   3.0
mean   30.0
std     5.0
min    25.0
25%    27.5
50%    30.0
75%    32.5
max    35.0

In [12]:
print(df.isnull())

    name    age
0  False  False
1  False  False
2  False  False

In [13]:
print(df.shape)

(3, 2)

In [14]:
print("Mean Age:", df["age"].mean())
print("Median Age:", df["age"].median())
print("Standard Deviation of Age:", df["age"].std())

Mean Age: 30.0
Median Age: 30.0
Standard Deviation of Age: 5.0

## Data Manipulation

Data manipulation is an important aspect of data analysis, and Pandas provides a powerful set of tools for this purpose. In this tutorial, we will cover some advanced techniques for data manipulation using Pandas.

### Indexing

- `df.at[row_idx, col_name] = value`: Assign a new value to a single cell
- `df[col_name] = list or single value`: Assign a new value to a column. If a single value is provided, same value is assigned to all the rows of the given column

You can make similar use of `loc` and `iloc` as shown above to assign new values to the DataFrame.

In [15]:
df.at[0, 'age'] = 26
df.head()

      name  age
0    Alice   26
1      Bob   30
2  Charlie   35

In [16]:
df['height'] = [165, 180, 175]
df.head()

      name  age  height
0    Alice   26     165
1      Bob   30     180
2  Charlie   35     175

In [17]:
df['gender'] = 'Male'
df.head()

      name  age  height gender
0    Alice   26     165   Male
1      Bob   30     180   Male
2  Charlie   35     175   Male

In [18]:
import numpy as np

df.loc[3] = ['Eve', 29, 170, 'Female']
df.loc[4] = ['Rob', 50, np.nan, 'Male']
df.head()

      name  age  height  gender
0    Alice   26   165.0    Male
1      Bob   30   180.0    Male
2  Charlie   35   175.0    Male
3      Eve   29   170.0  Female
4      Rob   50     NaN    Male

### Methods

- `df.fillna(value)`: Fill missing values with the given *value*
- `df.dropna()`: Remove rows with missing values
- `df.drop(labels, axis)`: Drop specified rows or columns
    - *labels*: Single label or list of labels. Can be either index of a row or a column name
    - *axis*: Whether to drop row or column? row-wise (axis=1) or column-wise(axis=0)? (default=0)
- `df.rename(columns=mapper)`: Change the name of columns in the DataFrame
    - *mapper*: Dictionary whose keys represent old column names and values represent corresponding new column names
- `df.groupby(by, axis)`: Group DataFrame by one or more columns
    - *by*: Create groups based on by. It can be a mapping, function, label or list of labels
    - *axis*: How to group the DataFrame? row-wise (axis=1) or column-wise(axis=0)? (default=0)
- `df.apply(func, axis)`: Apply a function along an axis of the DataFrame
    - *func*: Function to apply along each column or row
    - *axis*: How to apply the function? row-wise (axis=1) or column-wise(axis=0)? (default=0)

In [19]:
print("Fill Missing values with 'Missing':\n", df.fillna('Missing'), "\n")
df = df.dropna()
print("Drop Rows with missing values:\n", df, "\n")
df.drop(2, axis=0, inplace=True)
print("Drop row with index 2:\n", df, "\n")
df.drop('name', axis=1, inplace=True)
print("Drop column:\n", df, "\n")
df.rename(columns={'age': 'Age', 'height': 'Height', 'gender': 'Sex'}, inplace=True)
print("Rename Column Names:\n", df, "\n")

Fill Missing values with 'Missing':
       name  age   height  gender
0    Alice   26    165.0    Male
1      Bob   30    180.0    Male
2  Charlie   35    175.0    Male
3      Eve   29    170.0  Female
4      Rob   50  Missing    Male

Drop Rows with missing values:
       name  age  height  gender
0    Alice   26   165.0    Male
1      Bob   30   180.0    Male
2  Charlie   35   175.0    Male
3      Eve   29   170.0  Female

Drop row with index 2:
     name  age  height  gender
0  Alice   26   165.0    Male
1    Bob   30   180.0    Male
3    Eve   29   170.0  Female

Drop column:
    age  height  gender
0   26   165.0    Male
1   30   180.0    Male
3   29   170.0  Female

Rename Column Names:
    Age  Height     Sex
0   26   165.0    Male
1   30   180.0    Male
3   29   170.0  Female

In [20]:
grouped = df.groupby("Sex")
print("Aggregation application to grouped data:\n", grouped.agg({"Age": "mean", "Height": "mean"}))

Aggregation application to grouped data:
          Age  Height
Sex
Female  29.0   170.0
Male    28.0   172.5

In [21]:
def double(x):
    return x * 2

print("Apply a general function to a column:\n", df["Age"].apply(double), "\n")
print("Apply a lambda function to a column:\n", df["Age"].apply(lambda x: 2*x))

Apply a general function to a column:
 0    52
1    60
3    58
Name: Age, dtype: int64

Apply a lambda function to a column:
 0    52
1    60
3    58
Name: Age, dtype: int64

### References

- [Pandas Official Getting Started Tutorials](https://pandas.pydata.org/docs/getting_started/install.html)
- [Tirendaz Academy - Pandas Tutorial](https://github.com/TirendazAcademy/PANDAS-TUTORIAL)
- [Pandas API Reference Documentation](https://pandas.pydata.org/pandas-docs/stable/reference/)